/ {
    /* Define aliases for easy access in C code */
    aliases {
        sbus-uart = &usart2;
        motor-l = &pwm1_ch1;
        motor-r = &pwm1_ch2;
    };
};

&usart2 {
    status = "okay";
    current-speed = <100000>;
    /* Note: F103 lacks hardware inversion; use external inverter */
};

&timers1 {
    status = "okay";
    st,prescaler = <72>; /* 1MHz clock if CPU is 72MHz */
    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch2_pa9>;
        pinctrl-names = "default";
    };
};
